body {
    font-family:"Bahnschrift Light";
    font-size: 14px;
}

#logo {
    height: 100px;
    margin: auto;
    outline: none;
}

#instructions {
    margin-top: 10px;
    text-align:center;
    font-size: 16px;
}

.button {
    border: none;
    margin: auto;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-family:"Bahnschrift Light";
    font-weight: bold;
    margin-top: 5px;
}

#run_analysis_btn {
    background-color: #82E0AA; 
    display: block;
}

#remove_highlights_btn {
    background-color: #d62d3b;
    display: none;
}

#send_config {
    font-size: 12px;
    display: block;
    margin-top: 10px;
    padding: 10px 26px;
    float: right;
}

#sendBtnContainer {
    overflow: hidden;
}

#switchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#networkOptions {
    display: none;
}

.progress {
    display: none;
    margin: auto;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.progress_bar {
    z-index: -1;
    display: block;
    margin: auto;
    height: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background: #ccc;
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.progress_bar > span {
    display: block;
    height: 100%;
    text-align: start;
    border-radius: 25px;
}

.progress_bar > span > p{
    font-size: 12px;
    padding-left: 43vw ;
    padding-top: 3px;
}


.red > span {
    background: #d62d3b;
}

.green > span {
    background: #82E0AA;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-left: 10px;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #82E0AA;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #82E0AA;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.optionsContainer {
    display: none;
    margin: auto;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px
}

#networkArticle{
    margin-left: 13px;
}

option {
    font-family:"Bahnschrift Light";
    font-size: 14px;
}

select {
    font-family:"Bahnschrift Light";
    font-size: 14px;
}